{% extends 'core/base_form.html' %}
{% load i18n role_filters %}

{% block title %}{% trans "Delete Company Clearance" %}{% endblock %}
{% block content %}
<div class="table-container">
    <h2>{% trans "Delete Company Clearance" %}</h2>
    <p>{% trans "Are you sure you want to delete the company clearance for" %} "{{ clearance.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button>
        <a href="{% url 'company_clearance_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock %}
