{% extends 'core/base_form.html' %}
{% load i18n role_filters %}
{% block content %}
{% if user.is_authenticated %}
    {% if user|has_role:"Manager" %}
        <li class="nav-item"><a class="nav-link" href="{% url 'department_list' %}">{% trans "Departments" %}</a></li>
    {% endif %}
{% else %}
    <h2>{% trans "Login" %}</h2>
    <div class="table-container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{% url 'ticket_list' %}">
            <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
        </form>
    </div>
{% endif %}
{% endblock %}
