{% extends 'core/base_form.html' %}
{% load i18n role_filters %}

{% block title %}{% trans "Delete Technical Office Storage Item" %}{% endblock %}
{% block content %}
<div class="table-container">
    <h2>{% trans "Delete Technical Office Storage Item" %}</h2>
    <p>{% trans "Are you sure you want to delete the technical office storage item with No." %} "{{ item.no }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button>
        <a href="{% url 'technical_office_storage_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock %}
